* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    overflow-x: hidden;

}

.hero {
    background-color: navy;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
  }

.home {
    background-color: #973025;
    text-align: center;
}

.landing-page {
    text-decoration: none;
    font-size: 2rem;
    color: black;
}


/*-----------------------------*/

.features {
    height: fit-content;
    position: relative;
    height: 70dvh;
    z-index: 1;
}  

.row-2 {
    display: flex;
    justify-content: space-around;
}

.title h1 {
    position: relative;
    top: 10rem;
    font-size: 4rem;
}

.container-form {
    position: relative;
    top: 2rem;
    right: 10rem;
}

.container-form p {
    font-size: 1.3rem;
    margin-top: 2rem;
}

input {
    width: 150%;
    padding: 14px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #973025;
    border-radius: 4px;
    box-sizing: border-box;
}

.checkbox-container {
    display: flex;
}

.agree-of-terms {
    font-size: 1.2rem;
    position: relative;
    top: 2.2rem;
    left: 1rem;
    text-decoration: none;
    color: #973025;
}

.link-terms {
    color: #973025;
    text-decoration: none;
}

.form-content {
    max-width: 30rem;
}

.form-content p {
    word-spacing: 2px;
    line-height: 2rem;
    font-size: 1rem;
}

.subscribe {
    position: relative;
    top: 2rem;
    text-decoration: none;
    color: black;
    border-radius: 60px;
    border: 4px solid rgb(151, 48, 37);
    margin: 0;
    padding: 14px 30px;
    line-height: 1;
    font-family: "Work Sans", Sans-serif;
    font-weight: 600;
    font-size: 1rem;
    font-style: italic;
}

.subscribe:hover {
    background-color: #973025;
    color: white;

}

.container-2 {
    position: relative;
    top: 9rem;
    background-color: #973025;
    height: 50vh;
    background-position: center;
    background-size: cover;
    border: 5px solid;
}

.title-container-2 {
    text-align: center;
    position: relative;
    top: 5rem;
}

.title-container-2 h1 {
    color: white;
    font-family: "Work Sans", Sans-serif;
    font-size: 4rem;
    font-weight: 800;
}

.title-container-2 p {
    position: relative;
    top: 1rem;
    color: white;
    font-family: "Work Sans", Sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.learn-more {
    position: relative;
    top: 4rem;
    text-decoration: none;
    fill: #fff;
    color: #fff;
    font-family: "Work Sans", Sans-serif;
    background-color: #36110d;
    border-style: solid;
    border-width: 4px 4px 4px 4px;
    border-color: #0e0e0e;
    padding: 14px 30px 14px 30px;
}

.container-3 {
    height: 60vh;
    background-color: #d1d3d4;
}

.container-3 h1 {
    font-size: 3.7rem;
    position: relative;
    top: 12rem;
    text-align: center;
}

.game-row {
    display: flex;
    height: 40dvh;
    border-radius: 10px;
}

.column-1 img {
    position: relative;
    left: 3rem;
    bottom: 8rem;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.column-1-content {
    font-size: 12px;
    position: relative;
    left: 3rem;
    bottom: 7rem;
}


.column-2 img {
    position: relative;
    left: 10rem;
    bottom: 6rem ;
    width: 70%;
    height: auto;
    object-fit: cover;
}

.column-2-content {
    font-size: 12px;
    position: relative;
    left: 10rem;
    bottom: 5.3rem ;
}

.column-3 img {
    position: relative;
    left: 5rem;
    bottom: 3.8rem;
    width: 67%;
    height: auto;
    object-fit: cover;
}

.column-3-content {
    font-size: 12px;
    position: relative;
    left: 5rem;
    bottom: 3.7rem;
}

.container-4 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../../../assets/img/bg-4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
}

.content-4 img {
position: relative;
top: 10rem;
left: 2rem;
position: center;
width: 40rem;
}

.content-4 h1 {
font-family: "Work Sans", Sans-serif;
font-size: 3em;
color: white;
position: relative;
left: 9rem;
top: 6rem;
font-weight: 800;
}

.content-4 h2 {
font-family: "Work Sans", Sans-serif;
font-size: 2em;
color: white;
position: relative;
left: 14rem;
top: 8rem;
font-weight: 800;
}

.content-4 p {
font-family: "Work Sans", Sans-serif;
color: white;
position: relative;
font-size: 1rem;
bottom: 6rem;
left: 50rem;
max-width: 35rem;
line-height: 25px;
}
.content-4 a {
text-decoration: none;
color: white;
position: relative;
right: 28rem;
top: 15rem;
border-radius: 60px;
border: 4px solid rgb(235, 232, 232);
margin: 0;
padding: 14px 30px;
line-height: 1;
font-family: "Work Sans", Sans-serif;
font-size: 2rem;
font-style: italic;
}

.container-5 {
height: 150vh;
}

.content-5 h1 {
position: relative;
top: 3rem;
left: 32rem;
font-weight: 800;
}

.content-5 img {
position: relative;
left: 1rem;
top: 1rem;
width: 30rem;
}

.content-5 p {
position: relative;
bottom: 16rem;
left: 33rem;
max-width: 50rem;
}


.content-5-2 img {
position: relative;
left: 56rem;
bottom: 20rem;
width: 35rem;
}

.content-5-2 h1 {
position: relative;
left: 42rem;
bottom: 20rem;
}

.content-5-2 p {
position: relative;
left: 3rem;
bottom: 15rem;
text-align: right;
max-width: 50rem;
}






.design-two {
    width: 100vw;
    display: absolute;
    justify-content: space-between;
    padding: 1rem 5vw;
    background-color: #000;
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
    
}

.text-design-two {
    padding: 1rem;
}

.nav-design-two {
    color: white;
    line-height: 2rem;
    margin: 0 0.6rem;
}
